.welcome{
padding:60px 20px;
display:flex;
justify-content:center;
}

.welcome-card{
background:white;
padding:40px;
border-radius:25px;
max-width:420px;
width:100%;
text-align:center;
box-shadow:0 10px 30px rgba(0,0,0,.1);
}

.welcome-card h2{
color:#1565c0;
margin-bottom:15px;
}

.founder{
font-size:16px;
color:white;
}

@media(max-width:768px){

.navbar{
padding:15px;
}

.logo{
font-size:22px;
}

.founder{
font-size:12px;
}

.hero h1{
font-size:64px;
line-height:1.1;
}

.hero p{
font-size:18px;
margin-top:20px;
}

.primary-btn{
width:220px;
font-size:22px;
}

}
